<!-- Sention one-->
<div class="about-section">
    <div class="inner-container">
        <h1>about us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, possimus earum, quisquam nam minima fugiat
            commodi laudantium magni sit, ducimus omnis qui saepe? Aut, possimus vel reprehenderit doloribus quaerat
            explicabo?</p>
        <div class="skill">
            <a href="#" class="btn"> Lear More <i class="fa fa-angle-double-right"></i></a>
        </div>
    </div>
</div>