<main class="main">
    <section class="info">
        <div class="contenedor">
            <article class="info-columna">
              <img src="img/baleadas.jpg" class="info_img" alt="">
            <h2 class="info_titulo">Baleadas Hondureñas</Title></h2>
            <p class="info_txt"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam doloribus sint modi dignissimos saepe minus quisquam numquam nam quidem unde aut repellat in labore, veniam iure illum blanditiis deleniti id!</p>
            </article>
             <article class="info-columna">
              <img src="img/pupu.png" class="info_img" alt="">
            <h2 class="info_titulo">Pupusas Salvadoreñas</Title></h2>
            <p class="info_txt"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam doloribus sint modi dignissimos saepe minus quisquam numquam nam quidem unde aut repellat in labore, veniam iure illum blanditiis deleniti id!</p>
            </article>
             <article class="info-columna">
              <img src="img/honduras.jpg" class="info_img" alt="">
            <h2 class="info_titulo">Tradition Food</Title></h2>
            <p class="info_txt"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam doloribus sint modi dignissimos saepe minus quisquam numquam nam quidem unde aut repellat in labore, veniam iure illum blanditiis deleniti id!</p>
            </article>
        </div>
    </section>
</main>