<main class="main">
    <section class="info">
        <div class="contenedor">
            <article class="info-columna">
              <img src="img/baleadas.jpg" class="info_img" alt="">
            <h2 class="info_titulo">Baleadas</Title></h2>
            <p class="info_txt"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam doloribus sint modi dignissimos saepe minus quisquam numquam nam quidem unde aut repellat in labore, veniam iure illum blanditiis deleniti id!</p>
            </article>
             <article class="info-columna">
              <img src="img/chuco.png" class="info_img" alt="">
            <h2 class="info_titulo">Pollo chuco</Title></h2>
            <p class="info_txt"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam doloribus sint modi dignissimos saepe minus quisquam numquam nam quidem unde aut repellat in labore, veniam iure illum blanditiis deleniti id!</p>
            </article>
             <article class="info-columna">
              <img src="img/sopa.jpg" class="info_img" alt="">
            <h2 class="info_titulo">comida tradicional Hondureña</Title></h2>
            <p class="info_txt"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam doloribus sint modi dignissimos saepe minus quisquam numquam nam quidem unde aut repellat in labore, veniam iure illum blanditiis deleniti id!</p>
            </article>
        </div>
    </section>
</main>

<section class="most-liked p-5">
 <div class="video-container">
   <video class="bg-video"autoplay muted loop>
     <source src="img/Perfect_Hour.mp4" type="video/mp4">
     <source src="img/Perfec_Hour.webm">
   </video>
 </div>
 <div class="container-fluid">
   <div class="row">
     <div class="col text-center py-5"> 
       <h1 class="text-uppercase text-color font-weight-bold">los Mas Vendido</h1>
     </div>
   </div>
   <div class="row justify-content-around align-items-center">
     <div class="col-xl-3 col-lg-4 col-sm rotate">
       <div class="card text-center mb-3 coffee-card">
         <div class="card-header">
           <h4 class="fond-weight-light title-text">Baleadas</h4>
         </div>
         <div class="card-body">
           <img src="img/baleadas.jpg" class="img-fluid rounded" alt="">
         </div>
         <div class="card-footer">
           con aguacate
         </div>
         <div class="back">
           <div class="back-content">
             <h1 class="text-uppercase font-weight-light"> solo por</h1>
             <h3 class="mb-3">L.15</h3>
             <a href="#" class="btn hvr-right my-4 text-capitalize ">ordenar</a>
           </div>
         </div>
       </div>
     </div>
<div class="col-xl-3 col-lg-4 col-sm rotate">
       <div class="card text-center mb-3 coffee-card">
         <div class="card-header">
           <h4 class="fond-weight-light title-text">Pollo Chuco</h4>
         </div>
         <div class="card-body">
           <img src="img/polloc.jpg" class="img-fluid rounded" alt="">
         </div>
         <div class="card-footer">
           con salsa roja
         </div>
         <div class="back">
           <div class="back-content">
             <h1 class="text-uppercase font-weight-light"> solo por</h1>
             <h3 class="mb-3">L.60</h3>
             <a href="#" class="btn hvr-right my-4 text-capitalize ">ordenar</a>
           </div>
         </div>
       </div>
     </div>
     <div class="col-xl-3 col-lg-4 col-sm rotate">
       <div class="card text-center mb-3 coffee-card">
         <div class="card-header">
           <h4 class="fond-weight-light title-text">Sopas</h4>
         </div>
         <div class="card-body">
           <img src="img/sopa.jpg" class="img-fluid rounded">
         </div>
         <div class="card-footer">
           de marisco
         </div>
         <div class="back">
           <div class="back-content">
             <h1 class="text-uppercase font-weight-light"> solo por</h1>
             <h3 class="mb-3">L.75</h3>
             <a href="#" class="btn hvr-right my-4 text-capitalize">ordenar</a>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
</section>