body { background: #159957;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #155799, #159957);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #155799, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* ====mapa section ====*/

.main img {
    max-width: 80%;
}

.info {
    background: #333;
    color:#fff;
    text-align: center;
}
.info_img{
    border-radius: 50%;
    border: 7px solid #444;
   
}
.info_txt{
    text-align: justify;
    padding: 15px;
}

.mapa{
    background: #f0ede5;
    padding: 15px;
    text-align: center;
}

.mapa h3 {
    font-size: 30px;
}

.mapa p{
    text-align: justify;
}


/* ======= video section ====*/

.most-liked{
    position: relative;
    margin-top: 25px;
}

.video-container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.bg-video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.coffee-card{
    position: relative;
    box-shadow: 5px 15px 50px chocolate;
    max-width: 420px;
    transition: all .8s;
    overflow: hidden;
    cursor: pointer;
}

.card-header .title-text{
color: black;
}

.rotate{
    perspective: 100rem;
}

.back{
    position: absolute;
    top: -100%;
    background: blanchedalmond;
    height: 100%;
    width: 100%;
    opacity: 0;
    user-select: none;
    pointer-events: none;
    transform: rotateY(180deg);
    transition: top .8s opacity .4s;
}

.text-color{
    color:white ;
}

.back-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rotate:hover .coffee-card{
transform: 
rotatey(180deg);
}

.rotate:hover .back{
    opacity: 1;
    top: 0;
    user-select: auto;
    pointer-events: auto;
}

.back-content .btn{
    color: green;
}

.hvr-right{
    display: inline-block;
    vertical-align: middle;
    transition-duration: 0.5;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 5px black;
    position: relative;
    transition-property: color;
}

/* ======= home section ====*/

#home {
    background: black;
    margin-top: 30px;
    color: blanchedalmond;
}

.text {
    font-size: 28px;
}

.home-images {
    position: relative;
}

.home-img{
    position: absolute;
    width: 150px;
    transition: all 2s ease;
    opacity: 0.9;
}

.img-1{
    left: 0%;
    top: 0%;
}

.img-2{
    left: 20%;
    top: 20%;
    z-index: 10;
}

.img-3{
    left: 40%;
    top: 45%;
    z-index: 20;
}
.img-4{
    left: 40%;
    top: 0%;
  
}
.img-5{
    left: 0%;
    top: 45%;
}

.home-img:hover{
    outline: 10px solid #dbc;
    outline-offset: 32px;
    transform: scale(1.3) rotate(20deg);
    z-index: 30;
    opacity: 1;
}

.home-images:hover,
.home-img:not(:hover){
    opacity: 0.5;
}




/* ==== Footer section ===*/

 
footer {
width: 100%;
background: #202020;
color: #fff;

}

.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

.colum1{
    max-width: 400px;
}

.colum1 h1{
    font-size: 22px;

}

.colum1 p{
    font-size: 14px;
    color: aliceblue;
    margin-top: 20px;
}

.colum2{
    max-width: 400px;
}

.colum2 h1{
    font-size: 22px;
}

.row1 img{
 width: 36px;
 height: 36px;
}

.row1 label {
    margin-top: 10px;
    margin-left: 20px;
    color: antiquewhite;
}

.colum3 {
    max-width: 400px;
}

.colum3 h1{
    font-size: 22px;
}

.row2{
    margin-top: 20px;
}
 
.row2 img {
    width: 36px;
    height: 36px;
}

.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 150px;
}


.container-footer{
    width: 100%;
    background: #101010;
    padding: 20px;
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.copyright{
    color:#c7c7c7;
}

.copyright a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information a {
    text-decoration: none;
    color: #c7c7c7;
}



/* About section*/

.about-section{
    background: url('/img/recetas.jpg') no-repeat left;
    background-size: 55%;
    background-color: white;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container{
    width: 55%;
    float: right;
    background-color: thistle;
    padding: 150px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text {
    font-size: 13px;
    color: teal;
    line-height: 10px;
    text-align: justify;
    margin-bottom: 40px;
}

.skill {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}






@media screen and (max-width: 1200px){
    .inner-container{
        padding: 80px;
    }

    .container-body{
        flex-wrap: wrap;
    }

    .colum1{
        max-width: 100%;
    }

    .colum2,
    .colum3{
        margin-top: 40px;
    }
}

@media screen and (max-width: 1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }

    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width: 600px){
    .about-section {
        padding: 0;
    }
    .inner-container{
        width: 100%;
    }
}