<div class="footer text-white bg-dark">
  <div class="card-footer text-center">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <div class="social">
       <a href="#" class="btn btn-primary">Go facebook</a>
        <a href="#" class="btn btn-primary">Go Instragan</a>
         <a href="#" class="btn btn-primary">Go Youtube</a>
    </div>
    <p class="card-footer text-center"> 28/07/2020 </p>
  </div>
</div>
</div>