<footer>
  <div class="container-footer-all">
    <div class="container-body">
      <div class="colum1">
        <h1>Mas Informcion Del Restaurante</h1>
        <P>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi, ullam. Veniam tempora iure eum nam hic illo
          sequi ipsum id maxime. Eius accusamus at velit reprehenderit corporis dolorem fuga esse?</P>
      </div>
      <div class="colum2">
        <h1>Redes sociales</h1>
        <div class="row1">
          <img src="/img/facebook.png">
          <label> Siguenos en Facebook</label>
        </div>
        <div class="row1">
          <img src="/img/youtube.png">
          <label> Siguenos en Youtube</label>
        </div>
        <div class="row1">
          <img src="/img/instagram.png">
          <label> Siguenos en Instragam</label>
        </div>
      </div>
      <div class="colum3">
        <h1>Informacion Contacto</h1>
        <div class="row2">
          <img src="/img/bienes-raices.png" alt="">
          <label>Col. el carmen San Pedro Sula</label>
        </div>
        <div class="row2">
          <img src="/img/telefono.png" alt="">
          <label>+504 95-97-32-40</label>
        </div>
        <div class="row2">
          <img src="/img/whatsapp.png" alt="">
          <label>Escrivenos tambien en </label>
        </div>
        <div class="row2">
          <img src="/img/correo-electronico.png" alt="">
          <label>cardona201726@gmail.com</label>
        </div>
      </div>
    </div>
  </div>
  <div class="container-footer">
    <div class="footer">
      <div class="copyright">
        @ 2020 Todos los derechos reservados | <a href="">Mirna</a>
      </div>
      <div class="information">
        <a href="">Informacion Restaurante</a>
        <a href="">Privacion y politica</a>
        <a href="">Terminos y Condiciones</a>
      </div>
    </div>
  </div>
</footer>